body {
    background-image: url('/img/background.png'); /* Cesta k obrázku */
    background-size: cover; /* Automatické přizpůsobení obrázku velikosti okna */
    background-position: center; /* Vycentrování obrázku */
    background-repeat: no-repeat; /* Zabraňuje opakování obrázku */
    height: 100vh; /* Zajišťuje, že pozadí pokryje celou výšku stránky */
    margin: 0;
    font-family: 'Arial', sans-serif; /* Zajišťuje lepší čitelnost textu */
    color: white;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #34495e; /* Tmavě modré pozadí menu */
    padding: 15px;
    border-radius: 5px;
}

.navbar-brand {
    color: #f39c12; /* Zlatá barva pro název */
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.navbar-nav .nav-link {
    color: #ecf0f1; /* Světlejší barva pro odkazy */
    padding: 10px 15px;
    text-decoration: none;
}



.alert {
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
}

main {
    background-color: #34495e; /* Stejné pozadí jako menu */
    padding: 20px;
    border-radius: 5px;
}




table {
    width: 100%; /* Celá šířka kontejneru */
    border-collapse: collapse; /* Sloučení okrajů buněk */
    margin-top: 20px; /* Rozestup nad tabulkou */
}

thead {
    background-color: #2980b9; /* Tmavě modré pozadí pro hlavičku tabulky */
    color: #ecf0f1; /* Světlejší barva pro text v hlavičce */
    font-weight: bold; /* Tučný text pro hlavičku */
}

th, td {
    padding: 12px; /* Vnitřní okraje pro buňky */
    text-align: center; /* Středění textu */
    border: 1px solid #34495e; /* Rám kolem buněk */
}

tbody tr:nth-child(even) {
    background-color: #34495e; /* Alternující pozadí pro sudé řádky */
}

tbody tr:hover {
    background: linear-gradient(to right, #b22222, #ff8000); /* Gradient podobný epic-title */
    color: #ffffff; /* Bílý text při najetí myší */
    border-radius: 5px; /* Zaoblené rohy odkazu */
    padding: 10px 15px; /* Přizpůsobení paddingu, aby se udržela velikost odkazu */
    transition: background 0.5s ease; /* Plynulý přechod barev */
}

td {
    color: #ecf0f1; /* Světlejší barva pro text v buňkách */
}



/* Epic Title Style */
.epic-title {
    font-size: 3em;
    color: #ffffff; /* Červená barva s nádechem oranžové */
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #b22222, #ff8000); /* Epický barevný přechod */
    border: 3px solid #8b0000; /* Silný okraj pro dramatický efekt */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); /* Stín pro hloubku */
    letter-spacing: 5px; /* Větší mezery mezi písmeny */
}

* {
    font-family: 'Cinzel', serif; /* Elegantní fantasy styl písma */
}

